*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

/* Navbar Styles */
.navbar {
    background-color: #E4DEDE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 46px;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
}

.nav-right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-right: 10px;
    flex-wrap: wrap;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.search-bar {
    padding: 5px 10px 5px 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 18vw;
    cursor: pointer;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 7px;
    margin-right: 10px;
    flex-wrap: wrap;
}

.archived-btn {
    background-color: #DF8989;
    color: white;
    font-size: 13px;
    font-weight: 500;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.5s;
}

.archived-btn:hover {
    color: #DF8989;
    background-color: white;
}

.new-board-btn {
    background-color: #2E768B;
    color: white;
    font-size: 13px;
    font-weight: 500;
    border-radius: 20px;
    padding: 5px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.5s;
}

.new-board-btn:hover {
    color: #2E768B;
    background-color: white;
}

.add-btn {
    background-color: #67BE20;
    color: white;
    font-size: 16px;
    font-weight: 700;
    width: 32px;
    height: 31px;
    border-radius: 100%;
    cursor: pointer;
    border: 1px solid #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 3px;
    transition: 0.5s;
}

.add-btn:hover {
    background-color: #49900e;
    font-weight: 900;
}

.nav-left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1px;
    margin-left: 33px;
    margin-bottom: -12px;
    flex-wrap: wrap;
}

.board-tab {
    background-color: #E4DEDE;
    border: 1px solid #E4DEDE;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    color: #7c7c7c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    transition: 0.4s;
}

.board-tab.active {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.board-tab:hover {
    font-size: 13px;
    background-color: #e1d2d2;
    border: 1px solid #ddd;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: black;
}

.board-container{
    position: relative;
}

/* sticky-note Styles */

.sticky-note {
    width: 200px;
    height: 180px;
    padding: 5px;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
    position: relative;
}

.note-text {
    font-size: 16px;
    margin-bottom: 95px;
    color: #555;
    padding: 10px;
}

.note-date {
    font-size: 12px;
    color: #888;
    padding: 2px;
}

.note-colors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 0px 0px 15px;
    opacity: 0;
}

.color-options {
    display: flex;
    gap: 4px;
}

.color-circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #acaaaa;
    cursor: pointer;
}

.color-circle:hover {
    border: 1px solid #666;
}

.color-circle.gray {
    background: #eee;
}

.color-circle.red {
    background: #f28b82;
}

.color-circle.green {
    background: #ccff90;
}

.color-circle.blue {
    background: #aecbfa;
}

.delete-btn {
    background: #ea3a2a;
    color: #fff;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 50%;
    font-size: 9.5px;
    cursor: pointer;
}

.delete-btn:hover {
    background: #d32f2f;
}

.sticky-note:hover {
    transform: translateY(-5px);
    border: 1px solid #6a6a6a;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    .note-text {
        margin-bottom: 75px;
    }
    .note-colors {
        opacity: 1;
        transition: opacity 0.4s ease;
    }
}